<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>About Us</title>
    <style>
        .fa{
                font-size: 27px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-2">
                <div class="card  font-weight-bold h-100">
                    <div class="card-header  text-center">
                        <ul class="list-unstyled mb-0">
                            <li ><img src="/person.png" class="rounded-circle" alt="image of person" style="height: 50px;"></li>
                            <li > Full Name</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse eos quibusdam explicabo magni, quos quas saepe tempora quis! Debitis explicabo fugiat corporis, odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores  odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores 
                        </p>
                    </div>

                    <div class="card-footer text-center">
                        <ul class="list-unstyled mb-0" list-inline>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-github" aria-hidden="true" style="color: black;" ></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: rgb(83, 83, 155);"></i></a></i></li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="col mb-2 ">
                <div class="card font-weight-bold h-100">
                    <div class="card-header text-center">
                        <ul class="list-unstyled mb-0">
                            <li ><img src="/person.png" class="rounded-circle" alt="image of person" style="height: 50px;"></li>
                            <li > Full Name</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse eos quibusdam explicabo magni, quos quas saepe tempora quis! Debitis explicabo fugiat corporis, odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores 
                        </p>
                    </div>

                    <div class="card-footer text-center">
                        <ul class="list-unstyled mb-0" list-inline>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-github" aria-hidden="true" style="color: black;" ></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: rgb(83, 83, 155);"></i></a></i></li>
                        </ul>

                    </div>
                </div>
        
            </div>

            <div class="col mb-2">
                <div class="card  font-weight-bold h-100">
                    <div class="card-header  text-center">
                        <ul class="list-unstyled mb-0">
                            <li ><img src="/person.png" class="rounded-circle" alt="image of person" style="height: 50px;"></li>
                            <li > Full Name</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse eos quibusdam explicabo magni, quos quas saepe tempora quis! Debitis explicabo fugiat corporis, odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores  odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores 
                        </p>
                    </div>

                    <div class="card-footer text-center">
                        <ul class="list-unstyled mb-0" list-inline>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-github" aria-hidden="true" style="color: black;" ></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: rgb(83, 83, 155);"></i></a></i></li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="col mb-2 ">
                <div class="card font-weight-bold h-100">
                    <div class="card-header text-center">
                        <ul class="list-unstyled mb-0">
                            <li ><img src="/person.png" class="rounded-circle" alt="image of person" style="height: 50px;"></li>
                            <li > Full Name</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse eos quibusdam explicabo magni, quos quas saepe tempora quis! Debitis explicabo fugiat corporis, odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores 
                        </p>
                    </div>

                    <div class="card-footer text-center">
                        <ul class="list-unstyled mb-0" list-inline>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-github" aria-hidden="true" style="color: black;" ></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: rgb(83, 83, 155);"></i></a></i></li>
                        </ul>

                    </div>
                </div>
        
            </div>

            <div class="col mb-2">
                <div class="card  font-weight-bold h-100">
                    <div class="card-header  text-center">
                        <ul class="list-unstyled mb-0">
                            <li ><img src="/person.png" class="rounded-circle" alt="image of person" style="height: 50px;"></li>
                            <li > Full Name</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse eos quibusdam explicabo magni, quos quas saepe tempora quis! Debitis explicabo fugiat corporis, odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores  odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores 
                        </p>
                    </div>

                    <div class="card-footer text-center">
                        <ul class="list-unstyled mb-0" list-inline>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-github" aria-hidden="true" style="color: black;" ></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: rgb(83, 83, 155);"></i></a></i></li>
                        </ul>

                    </div>
                </div>

            </div>

            <div class="col mb-2 ">
                <div class="card font-weight-bold h-100">
                    <div class="card-header text-center">
                        <ul class="list-unstyled mb-0">
                            <li ><img src="/person.png" class="rounded-circle" alt="image of person" style="height: 50px;"></li>
                            <li > Full Name</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse eos quibusdam explicabo magni, quos quas saepe tempora quis! Debitis explicabo fugiat corporis, odit sunt commodi ut cupiditate quisquam facere adipisci unde cumque nisi perspiciatis, alias voluptatibus excepturi aliquam maiores 
                        </p>
                    </div>

                    <div class="card-footer text-center">
                        <ul class="list-unstyled mb-0" list-inline>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color: red;"></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-github" aria-hidden="true" style="color: black;" ></i></a></i></li>
                             <li class="list-inline-item"> <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true" style="color: rgb(83, 83, 155);"></i></a></i></li>
                        </ul>

                    </div>
                </div>
        
            </div>


        </div>
    </div>

    
    
</body>
</html>